<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="<@block name='tag_admin'></@block>">
                <a href="/zy/admin">
                    <i class="fa fa-th"></i> <span>总览</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green"></small>
                    </span>
                </a>
            </li>
            <li class="treeview <@block name='t_style'></@block>">
                <a href="#">
                    <i class="fa fa-files-o"></i> <span>风格</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="<@block name='t_style_all'></@block>"><a href="/zy/admin/style/all"><i class="fa fa-circle-o"></i> 全部风格</a></li>
                    <li class="<@block name='t_style_add'></@block>"><a href="/zy/admin/style/add"><i class="fa fa-circle-o"></i> 新增风格</a></li>
                </ul>
            </li>
            <li class="treeview <@block name='t_case'></@block>">
                <a href="#">
                    <i class="fa fa-files-o"></i> <span>案例</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="<@block name='t_case_all'></@block>"><a href="/zy/admin/case/all"><i class="fa fa-circle-o"></i> 全部案例</a></li>
                    <li class="<@block name='t_case_add'></@block>"><a href="/zy/admin/case/add"><i class="fa fa-circle-o"></i> 新增案例</a></li>
                </ul>
            </li>
            <li class="treeview <@block name='t_design'></@block>">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>设计师</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="<@block name='t_design_all'></@block>"><a href="/zy/admin/designers/all"><i class="fa fa-circle-o"></i> 全部设计师</a></li>
                    <li class="<@block name='t_design_add'></@block>"><a href="/zy/admin/designers/add"><i class="fa fa-circle-o"></i> 新增设计师</a></li>
                </ul>
            </li>
            <li class="treeview <@block name='t_craft'></@block>">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>工艺标准</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="<@block name='t_craft_all'></@block>"><a href="/zy/admin/crafts/all"><i class="fa fa-circle-o"></i> 全部工艺</a></li>
                    <li class="<@block name='t_craft_add'></@block>"><a href="/zy/admin/crafts/add"><i class="fa fa-circle-o"></i> 新增工艺</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>