<@override name="ext_css">
    <#include "inc/css_index.html">
</@override>
<@override name="content">
<div class="content-wrapper">
    <div class="grid">
        <!-- <p>TEAM Page</p> -->
        <ul class="team-list">
        <#list designerlist as item>
            <li class="j-designer-li" data-name="${item.name}" data-working-time="${item.working_time}"  data-design-concept="${item.design_concept}" data-honor="${item.honor}" data-works="${item.works}" data-works-show="${item.works_show}">
                <a href="javascript:;" class="designer-img"><img src="${item}"/></a>
                <div class="text-wrapper">
                    <p class="name">${item.name}</p>
                    <p class="time">${item.working_time}</p>
                </div>
            </li>
        </#list>
        </ul>
        
    </div>
</div>
</@override>
<@override name="ext_js">
    <#include "inc/js_index.html">
</@override>
<@override name="team">active</@override>
<@extends name="../common/base.html"/>