<@override name="ext_css">
    <#include "inc/css_index.html">
</@override>
<@override name="content">
<div class="content-wrapper">
    <div class="grid">
        <!-- <p>TEAM Page</p> -->
        <ul class="team-list">
            <li>
                <a href="javascript:;" class="designer-img"><img src="/zy/resources/static/files/team/designer1.jpg"/></a>
                <div class="text-wrapper">
                    <p class="name">景俊霖</p>
                    <p class="time">从业时间：5年</p>
                </div>
            </li>
        </ul>
        
    </div>
</div>
<script type="text/javascript">
    var IOT = {};
</script>
</@override>
<@extends name="../common/base.html"/>
<#include "inc/js_lib.html">
