<@override name="ext_css">
    <#include "inc/css_index.html">
</@override>
<@override name="content">
<div class="content">
<!-- <#assign caseObj=""/> -->
    <div class="grid">
        <div class="style-class j-style-class">
            <label>风格分类：</label>
            <a href="/zy/case/index" class="active">全部分类</a>
            <#list stylelist as item>
                <a href="/zy/case/index?style_id=${item.style_id}" data-style-id="${item.style_id}">${item.name}</a>
            </#list>
            <!-- <a href="#">法式</a>
            <a href="#">小美式</a>
            <a href="#">新中式</a> -->
            
        </div>
        <ul>
        <#list caselist as item>
        <li class="c-top-li" data-type="fr" data-build="${item.build}" data-style-name="${item.styleForm.name}" data-designer-name="${item.designerForm.name}" data-desc="${item.desc}" data-aimgs="${item.aimgs}">
            <div class="c-li-image">
                <img src="${(item.aimgs)?substring(0,(item.aimgs?index_of(',')))}" alt="france">
            </div>
            <div class="c-li-desc">${item.name}</div>
            <div class="c-li-mask"></div>
            <div class="c-li-button">VIEW MORE</div>
        </li>
        </#list>
        <!-- <li class="c-top-li" data-type="fr">
                <div class="c-li-image">
                    <img src="/zy/resources/static/files/case/topFrance.jpg" alt="france">
                </div>
                <div class="c-li-desc">法式</div>
                <div class="c-li-mask"></div>
                <div class="c-li-button">VIEW MORE</div>
            </li>
            <li class="c-top-li" data-type="am">
                <div class="c-li-image">
                    <img src="/zy/resources/static/files/case/topAmerica.jpg" alt="america">
                </div>
                <div class="c-li-desc">小美式</div>
                <div class="c-li-mask"></div>
                <div class="c-li-button">VIEW MORE</div>
            </li>
            <li class="c-top-li" data-type="ch">
                <div class="c-li-image">
                    <img src="/zy/resources/static/files/case/topChinese.jpg" alt="chinese">
                </div>
                <div class="c-li-desc">新中式</div>
                <div class="c-li-mask"></div>
                <div class="c-li-button">VIEW MORE</div>
            </li>-->
        </ul>
    </div>
</div>
</@override>
<@override name="ext_js">
    <#include "inc/js_index.html">
</@override>
<@override name="case">active</@override>
<@extends name="../common/base.html"/>