<@override name="ext_css">
    <#include "inc/css_index.html">
</@override>
<@override name="content">
<div class="content">
    <div class="grid">
        <ul>
            <li class="c-sorts-li" data-type="fr">
                <div class="c-li-image">
                    <img src="/zy/resources/static/files/case/topFrance.jpg" alt="france">
                </div>
                <div class="c-li-desc">法式</div>
                <div class="c-li-mask"></div>
                <div class="c-li-button">VIEW MORE</div>
            </li>
            <li class="c-sorts-li" data-type="am">
                <div class="c-li-image">
                    <img src="/zy/resources/static/files/case/topAmerica.jpg" alt="america">
                </div>
                <div class="c-li-desc">小美式</div>
                <div class="c-li-mask"></div>
                <div class="c-li-button">VIEW MORE</div>
            </li>
            <li class="c-sorts-li" data-type="ch">
                <div class="c-li-image">
                    <img src="/zy/resources/static/files/case/topChinese.jpg" alt="chinese">
                </div>
                <div class="c-li-desc">新中式</div>
                <div class="c-li-mask"></div>
                <div class="c-li-button">VIEW MORE</div>
            </li>
        </ul>
    </div>
</div>
</@override>
<@override name="ext_js">
    <#include "inc/js_index.html">
</@override>
<@override name="craft">active</@override>
<@extends name="../common/base.html"/>