<@override name="ext_css">
    <#include "inc/css_index.html">
</@override>
<@override name="content">
<div class="grid">
    <ul class="craft-list">
        <li>
            <div class="img-wrapper parent-3">
                <img src="../resources/static/files/craft/1.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-3">
                <img src="../resources/static/files/craft/3.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-4 far-right">
                <img src="../resources/static/files/craft/2.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
        </li>
        <li class="heighter">
            <div class="img-wrapper parent-6">
                <img src="../resources/static/files/craft/7.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-4 far-right">
                <img src="../resources/static/files/craft/6.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
        </li>
        <li>
            <div class="img-wrapper parent-3">
                <img src="../resources/static/files/craft/1.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-7 far-right">
                <img src="../resources/static/files/craft/4.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
        </li>
        <li>
            <div class="img-wrapper parent-3">
                <img src="../resources/static/files/craft/5.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-3">
                <img src="../resources/static/files/craft/8.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-4 far-right">
                <img src="../resources/static/files/craft/2.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
        </li>
        <li class="heighter">
            <div class="img-wrapper parent-6">
                <img src="../resources/static/files/craft/14.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-4 far-right">
                <img src="../resources/static/files/craft/15.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
        </li>
        <li>
            <div class="img-wrapper parent-3">
                <img src="../resources/static/files/craft/9.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-3">
                <img src="../resources/static/files/craft/10.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-4 far-right">
                <img src="../resources/static/files/craft/11.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
        </li>
        <li>
            <div class="img-wrapper parent-3">
                <img src="../resources/static/files/craft/1.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
            <div class="img-wrapper parent-7 far-right">
                <img src="../resources/static/files/craft/4.jpg" alt="1.jpg" title=""/>
                <p>水电工艺</p>
            </div>
        </li>
    </ul>
</div>
</@override>
<@override name="ext_js">
    <#include "inc/js_index.html">
</@override>
<@extends name="../common/base.html"/>