<@override name="ext_css">
    <#include "inc/css_add_craft.html">
</@override>
<@override name="t_craft">active</@override>
<@override name="t_craft_add">active</@override>
<@override name="content">
<div class="content-wrapper">
<#assign finishWorks=""/>
	<section class="content-header">
		<h1><#if isEdit == true>编辑工艺</#if><#if isEdit == false>新增工艺</#if></h1>
		<!-- <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
                    <li><a href="#">工艺标准</a></li>
                    <li class="active">新增工艺</li>
                </ol> -->
	</section>
	<section class="content">
		<div class="box col-md-12">
			<div class="box-header with-border">
            	<!-- <h3 class="box-title">新增设计师</h3> -->
                <div class="col-sm-10">
                   <!--  <h3 class="box-title">新增工艺</h3> -->
                </div>
                <div class="col-sm-2">
                    <a href="/zy/admin/crafts/all" class="btn btn-block btn-primary">返回列表</a>
                </div>
            </div>
            <form class="form-horizontal j_craft_form">
            <input type="hidden" name="craft_id" id="craft_id" value="${(craftobj.craft_id)!}">
            <input type="hidden" name="craft_show" id="craft_show" class="multi_upload" value="${(craftobj.craft_show)!}">
            	<div class="box-body">
                    <div class="form-group">
                        <label for="craft_name" class="col-sm-2 control-label">所属分类：</label>
                        <div class="col-sm-5">
                            <input type="text" name="craft_name" class="form-control" id="craft_name" value="${(craftobj.craft_name)!}">
                        </div>
                    </div>
                    <#if isEdit == true>
                        <div class="form-group">
                            <label for="works" class="col-sm-2 control-label">已上传工艺标准图片：</label>
                            <div class="col-sm-9 finish-works-list">
                                <#list craftobj.craft_img as item>
                                    <div class="show-item delete-box">
                                        <img src="${item}">
                                        <span title="删除" class="fa fa-trash-o delete-work"></span>
                                        <#assign finishWorks=finishWorks+","+item/>
                                    </div>
                                </#list>
                            </div>
                        </div>
                    </#if>
                	<div class="form-group">
                		<label for="" class="col-sm-2 control-label">新增工艺标准图片：</label>
                		<div class="col-sm-9">
                			<!-- <div class="form-control"></div> -->
                            <div id="productionUploader" class="production-wrapper">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div id="productionPicker"></div>
                                        <p>推荐上传图片大小：350 X 350CM 或者 750 X 350CM</p>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div><div class="info"></div>
                                    <div class="btns">
                                        <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                                    </div>
                                </div>
                            </div>
                		</div>
                	</div>
            	</div>
	            <div class="box-footer">
                    <label for="" class="col-sm-10"></label>
	            	<!-- <button type="submit" class="btn btn-default">Cancel</button> -->
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-info j_submit">新增</button>
                    </div>
	            </div>
            </form>
		</div>
	</section>
	
</div>
</@override>
<@override name="ext_js">
    <#include "inc/js_add_craft.html">
</@override>
<@extends name="../../admin_common/base.html"/>