<script src="/zy/resources/static/admin_common/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/zy/resources/static/admin_common/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/zy/resources/static/admin_common/js/jquery.form-validator.js"></script>
<script src="/zy/resources/static/admin_common/plugins/iCheck/icheck.min.js"></script>
<script src="/zy/resources/static/admin_common/js/parsley.min.js"></script>
<script src="/zy/resources/static/admin_common/js/parsley.i18n.js"></script>
<script src="/zy/resources/static/admin_common/js/common.js"></script>
<script src="/zy/resources/static/account/js/login.js"></script>