<@override name="ext_css">
    <#include "inc/css_add_case.html">
</@override>
<@override name="content">
<div class="content-wrapper">
    <#assign finishWorks=""/>
    <section class="content-header">
        <h1><#if isEdit == true>编辑案例</#if><#if isEdit == false>新增案例</#if></h1>
        <!-- <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
            <li><a href="#">案例</a></li>
            <li class="active">新增案例</li>
        </ol> -->
    </section>
    <section class="content">
        <div class="box col-md-12">
            <div class="box-header with-border">
                <div class="col-sm-10">
                    <h3 class="box-title"></h3>
                </div>
                <div class="col-sm-2">
                    <a href="/zy/admin/case/all" class="btn btn-block btn-primary">返回列表</a>
                </div>
            </div>
            <form class="form-horizontal j_case_form" method="post" data-parsley-validate>
                <div class="box-body">
                    <input type="hidden" id="case_id" name="case_id" value="${(caseobj.case_id)!}">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">名称</label>
                        <div class="col-sm-5">
                            <input type="text" name="name" class="form-control" id="name" value="${(caseobj.name)!}" placeholder="请输入名称" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="desc" class="col-sm-3 control-label">描述</label>
                        <div class="col-sm-5">
                            <input type="text" name="desc" class="form-control" id="desc" value="${(caseobj.desc)!}" placeholder="请输入描述" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="build" class="col-sm-3 control-label">楼盘</label>
                        <div class="col-sm-5">
                            <input type="text" name="build" class="form-control" id="build" value="${(caseobj.build)!}" placeholder="请输入楼盘名称" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="style_id" class="col-sm-3 control-label">风格</label>
                        <div class="col-sm-5">
                            <select name="style_id" id="style_id">

                                <#list stylelist as item>
                                    <#if isEdit == true>
                                        <#if item.style_id == caseobj.styleForm.style_id>
                                            <option value="${item.style_id}" selected>${item.name}</option>
                                        </#if>
                                        <#if item.style_id != caseobj.styleForm.style_id>
                                            <option value="${item.style_id}">${item.name}</option>
                                        </#if>
                                    </#if>
                                    <#if isEdit == false>
                                        <option value="${item.style_id}">${item.name}</option>
                                    </#if>
                                </#list>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="designer_id" class="col-sm-3 control-label">设计师</label>
                        <div class="col-sm-5">
                            <select name="designer_id" id="designer_id">
                                <#list designerlist as item>
                                    <#if isEdit == true>
                                        <#if item.designer_id == caseobj.designerForm.designer_id>
                                            <option value="${item.designer_id}" selected>${item.name}</option>
                                        </#if>
                                        <#if item.designer_id != caseobj.designerForm.designer_id>
                                            <option value="${item.designer_id}">${item.name}</option>
                                        </#if>
                                    </#if>
                                    <#if isEdit == false>
                                        <option value="${item.designer_id}">${item.name}</option>
                                    </#if>
                                </#list>
                            </select>
                        </div>
                    </div>
                    <#if isEdit == true>
                        <div class="form-group">
                            <label for="works" class="col-sm-3 control-label">作品展示</label>
                            <div class="col-sm-9 finish-works-list">
                                <#list caseobj.caseImgs as item>
                                    <div class="show-item delete-box">
                                        <img src="${item}">
                                        <span title="删除" class="fa fa-trash-o delete-work"></span>
                                        <#assign finishWorks=finishWorks+","+item/>
                                    </div>
                                </#list>
                            </div>
                        </div>
                    </#if>
                    <input type="hidden" id="works_show" data-finish-uploader="${finishWorks}" class="multi_upload" name="aimgs" value="${finishWorks}">
                    <div class="form-group">
                        <label for="works_show" class="col-sm-3 control-label"><#if isEdit == false>作品展示</#if></label>
                        <div class="col-sm-8">
                            <!-- <div class="form-control"></div> -->
                            <div id="productionUploader" class="production-wrapper">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div id="productionPicker"></div>
                                        <p>推荐上传大小：260 X 260 像素，最多可上传<span class="limit">8</span>张作品图</p>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div><div class="info"></div>
                                    <div class="btns">
                                        <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <label for="" class="col-sm-3 control-label"></label>
                    <!-- <button type="submit" class="btn btn-default">Cancel</button> -->
                    <div class="col-sm-5">
                        <button type="submit" class="btn btn-info j_submit"><#if isEdit == true>保存</#if><#if isEdit == false>新增</#if></button>
                    </div>
                </div>
            </form>
        </div>
    </section>

</div>
</@override>

<@override name="ext_js">
    <#include "inc/js_add_case.html">
</@override>
<@override name="t_case">active</@override>
<@override name="t_case_add">active</@override>
<@extends name="../../admin_common/base.html"/>