<@override name="ext_css">
    <#include "inc/css_index.html">
</@override>
<@override name="content">
<div class="content-wrapper">
        <div class="c-banner">
            <ul class="unstyled">
                <li>
                    <img src="/zy/resources/static/files/ban1.jpg" alt="">
                    <p class="c-banner-info">至臻品质，情源于心</p>
                    <a class="c-banner-button button" href="/">关于我们</a>
                </li>
                <li>
                    <img src="/zy/resources/static/files/ban2.jpg" alt="">
                    <p class="c-banner-info">拒绝套路，以心相伴</p>
                    <a class="c-banner-button button" href="/">我们的工艺</a>
                </li>
            </ul>
        </div>
        <div class="c-tech grid">
            <h3>家居风格</h3>
            <ul>
                <li class="c-tech-li">
                    <img src="/zy/resources/static/files/case1.jpg" alt="case1">
                    <div class="c-tech-info">
                        <h4>法式风格</h4>
                        <p>在浪漫的情怀中寻找它</p>
                        <i class="icon-down-open"></i>
                    </div>
                </li>
                <li class="c-tech-li">
                    <img src="/zy/resources/static/files/case2.jpg" alt="case2">
                    <div class="c-tech-info">
                        <h4>小美式风格</h4>
                        <p>在浪漫的情怀中寻找它</p>
                        <i class="icon-down-open"></i>
                    </div>
                </li>
                <li class="c-tech-li last">
                    <img src="/zy/resources/static/files/case3.jpg" alt="case3">
                    <div class="c-tech-info">
                        <h4>中式风格</h4>
                        <p>在浪漫的情怀中寻找它</p>
                        <i class="icon-down-open"></i>
                    </div>
                </li>
            </ul>
        </div>
    <div class="c-intro"></div>
</div>
</@override>
<@override name="ext_js">
    <#include "inc/js_index.html">
</@override>
<@extends name="../common/base.html"/>