<@override name="ext_css">
    <#include "inc/css_index.html">
</@override>
<@override name="content">
<div class="content-wrapper">
    <div class="c-banner">
        <ul class="unstyled">
            <li>
                <img src="/zy/resources/static/files/ban1.jpg" alt="">
                <p class="c-banner-info">至臻品质，情源于心</p>
                <a class="c-banner-button button" href="/about/index">关于我们</a>
            </li>
            <li>
                <img src="/zy/resources/static/files/ban2.jpg" alt="">
                <p class="c-banner-info">拒绝套路，以心相伴</p>
                <a class="c-banner-button button" href="/craft/index">我们的工艺</a>
            </li>
        </ul>
    </div>
    <div class="c-tech grid">
        <h3>家居风格</h3>
        <em>FAMILY STYLE</em>
        <ul>
        <#assign sum=0/>
        <#list stylelist as item>
        <#assign sum=sum+1/>
            <a href="/zy/case/index?style_id=${item.style_id}">
                <li class="c-tech-li">
                    <img src="${item.img_path}" alt="${item.name}">
                    <div class="c-tech-info">
                        <h4>${item.name}</h4>
                        <p>${item.desc}</p>
                        <i class="icon-down-open"></i>
                    </div>
                </li>
            </a>
            <#if sum ==3 ><#break></#if>
        </#list>
            <!-- <a href="/case/index">
                <li class="c-tech-li">
                    <img src="/zy/resources/static/files/case2.jpg" alt="case2">
                    <div class="c-tech-info">
                        <h4>小美式风格</h4>
                        <p>在浪漫的情怀中寻找它</p>
                        <i class="icon-down-open"></i>
                    </div>
                </li>
            </a>
            <a href="case.html">
                <li class="c-tech-li last">
                    <img src="/zy/resources/static/files/case3.jpg" alt="case3">
                    <div class="c-tech-info">
                        <h4>中式风格</h4>
                        <p>在浪漫的情怀中寻找它</p>
                        <i class="icon-down-open"></i>
                    </div>
                </li>
            </a> -->
        </ul>
    </div>
    <div class="materials-bg grid">
        <div class="wrap pr">
            <ul class="clear">
                <li class="materials-w">
                    <p>ENVIRONMENTAL MATERIAL</p>
                    <h2>环保辅材</h2>
                    <span>安全环保 质量稳定</span>
                </li>
                <li class="materials material-ws">
                    <a href="javascript:;">
                        <h3>给水材料</h3>
                        <p>主要采用优质进口原料和进口设备生产</p>
                    </a>
                </li>
                <li class="materials material-drain">
                    <a href="javascript:;">
                        <h3>排水材料</h3>
                        <p>主要采用硬聚氯乙烯这种友好型材料</p>
                    </a>
                </li>
                <li class="materials material-power">
                    <a href="javascript:;">
                        <h3>强电材料</h3>
                        <p>我们选择的电路材料不易老化，阻燃性能优越</p>
                    </a>
                </li>
                <li class="materials material-wproof">
                    <a href="javascript:;">
                        <h3>防水材料</h3>
                        <p>施工2小时后即可进行下道工序；优异的粘接性能</p>
                    </a>
                </li>
                <li class="materials material-glue">
                    <a href="javascript:;">
                        <h3>胶粘性材料</h3>
                        <p>我们采用的胶粘剂系列产品符合国家相关环保标准</p>
                    </a>
                </li>
                <li class="materials material-plates">
                    <a href="javascript:;">
                        <h3>板材类材料</h3>
                        <p>我们选择的木工材料具有较高的稳定性，环保等级高</p>
                    </a>
                </li>
                <li class="materials material-other">
                    <a href="javascript:;">
                        <h3>其他材料</h3>
                        <p>我们选择的材料和易性优良，其放射性经过国家权威机构检测,是经济型绿色环保产品</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="service-process">
        <div class="sp-title">
            <h2>服务流程</h2>
            <em>SERVICE PROCESS</em>
        </div>
        <div class="sp-list wrap">
            <ul class="w clear">
                <li>
                    <div class="ico-sp-bg"><i class="ico-sp-1"></i></div>
                    <h4>在线预约</h4>
                    <p>通过电话预约</p>
                    <i class="icon-right-open"></i>
                </li>
                <li>
                    <div class="ico-sp-bg"><i class="ico-sp-2"></i></div>
                    <h4>上门量房</h4>
                    <p>设计师上门量房，并设计装修方案</p>
                    <i class="icon-right-open"></i>
                </li>
                <li>
                    <div class="ico-sp-bg"><i class="ico-sp-3"></i></div>
                    <h4>方案确认</h4>
                    <p>在线或线下确认装修方案</p>
                    <i class="icon-right-open"></i>
                </li>
                <li>
                    <div class="ico-sp-bg"><i class="ico-sp-4"></i></div>
                    <h4>签订合同</h4>
                    <p>签订详细装修合同</p>
                    <i class="icon-right-open"></i>
                </li>
                <li>
                    <div class="ico-sp-bg"><i class="ico-sp-4"></i></div>
                    <h4>安排施工</h4>
                    <p>为您指派项目经理并安排施工</p>
                    <i class="icon-right-open"></i>
                </li>
                <li>
                    <div class="ico-sp-bg"><i class="ico-sp-6"></i></div>
                    <h4>验收评价</h4>
                    <p>按工程标准验收并对服务评价</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-intro"></div>
</div>
</@override>
<@override name="ext_js">
    <#include "inc/js_index.html">
</@override>
<@override name="index">active</@override>
<@extends name="../common/base.html"/>