<div class="nav-top">
        <div class="grid">
            <div class="nav-top-left">
                <a class="icon-phone">023-67483742</a>
            </div>
            <div class="nav-top-right">
                <a href="###" class="icon-qq"></a><a href="###" class="icon-wechat"></a><a href="###" class="icon-weibo"></a>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="grid">
            <a class="h-logo" href="/"><img src="/zy/resources/static/files/logo.png" alt="logo" /></a>
            <div class="h-menu">
                <a href="index.html" class="menu-li active" title="HOME">首页</a>
                <a href="about.html" class="menu-li" title="INFO">公司介绍</a>
                <a href="craft.html" class="menu-li" title="STANDARD">工艺标准</a>
                <a href="case.html" class="menu-li" title="CASE">案例</a>
                <a href="team.html" class="menu-li" title="TEAM">团队</a>
            </div>
        </div>
    </div>