<div class="nav-top">
    <div class="grid">
        <div class="nav-top-left">
            <a class="icon-phone">023-67483742</a>
        </div>
        <div class="nav-top-right">
            <a href="###" class="icon-qq"></a><a href="###" class="icon-wechat"></a><a href="###" class="icon-weibo"></a>
        </div>
    </div>
</div>
<div class="header">
    <div class="grid">
        <a class="h-logo" href="/"><img src="/zy/resources/static/files/logo.png" alt="logo" /></a>
        <div class="h-menu">
            <a href="/zy/index" class="menu-li <@block name="index"></@block>" title="HOME">首页</a>
            <a href="/zy/about/index" class="menu-li <@block name="about"></@block>" title="INFO">公司介绍</a>
            <a href="/zy/craft/index" class="menu-li <@block name="craft"></@block>" title="STANDARD">工艺标准</a>
            <a href="/zy/case/index" class="menu-li <@block name="case"></@block>" title="CASE">案例</a>
            <a href="/zy/team/index" class="menu-li <@block name="team"></@block>" title="TEAM">团队</a>
        </div>
    </div>
</div>